.jumbotron { 
    background: #f2bcbc; 
}

body {

    /* background: #f2bcbc;    */
    background-image: url("../images/wood.jpeg")
} 


.container { 
    /* background: white;  */
    background-image: url("../images/background.jpg");
    width: 640px;
    height: 960px;
    padding-top: 80px; 

}
h1 {
    margin: 10px; 
    align-content: center; 
    text-shadow:
		-2px -2px 0 #fff,
		2px -2px 0 #fff,
		-2px 2px 0 #fff,
        2px 2px 0 #fff;
     
}

p {
    margin: 5px; 
    /* padding: 2px;  */
    
}

.row { 
    background-color: #7bcc4b; 
    margin: 5px; 
    border: 1px solid darkgreen; 
}

.row-btn {
    background-color: #38A93F; 
    border: none

}

.btn {
    margin-right: 20px; 
    margin-left: 20px; 
    width: 100px; 
    height: 100px; 
    border-color: darkgreen; 
    
}

.btn:hover {
    border: 2px solid darkgreen; 

}

#button1 {
    background-image: url(../images/kerropi.png); 
}

#button2 {
    background-image: url(../images/kerropi2.png); 

}

#button3 {
    background-image: url(../images/kerropi3.png); 

}

#button4 {
    background-image: url(../images/kerropi5.png); 
     
}

.col-md {
    margin: 5px; 
    align-content: center;
}

.col {
    background: #f2bcbc; 
    padding: 5px; 
    text-align: center;
    padding-top: 10px; 
    font-weight: bold; 
}

.num-col {
    padding: 10px; 
    text-align: center;
    font-size: 30px;
}